.cart-container {
    min-height: calc(100vh - 210px);
    width: 100%;
    padding: 0 3rem 0 3rem
}

.cart-grid-container {
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-gap: 10px;
    padding: 10px;
}