name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
    inputs:
      testTool:
        type: choice
        description: "Select the test tool to run"
        required: true
        default: "webdriverio"
        options:
          - webdriverio
          - cypress
          - playwright
      appUrl:
        description: "Application URL to test"
        required: true
        default: "http://localhost:3000"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - run: npm ci
    
    - run: npm run build --if-present
    
    - run: npm test


  browser-tests:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 18
      uses: actions/setup-node@v4
      with:
        node-version: 18.x
        cache: 'npm'

    - run: npm ci

    - name: Start Mock Server
      run: npm run mock:server &
      
    - name: Start Application
      run: npm run start &
      env:
        CI: true

    - name: Wait for application to be ready
      run: npx wait-on http://localhost:3000

    - name: Run Cypress smoke test
      run: npx cypress run --spec "test/cypress/e2e/smoketest/smokeTest.spec.js"